* {
  
  border: dotted black 0.1px;
}
/*
.css-selector {
    font-family: 'open sans', sans;
    }
*/

.logo {
  height: 85px;
}

#moto {
  color: #faaf40;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;

}


#banner {
  height: 250px;
  background-image: url("../../images/crayons.jpg");
  background-size: contain;
  background-repeat: repeat;
  padding: 4% 10% 15% 15%;
}

.banner-text {
  max-width: 100%;
  font-size: 1.3125em;
  font-weight: 800;
  text-align: center;
  color: #046494;

}


h2 {
  text-align: center;
  color: white;
  background-color: #faaf40;
  font-size: 1.625em;
  font-weight: 700;
  line-height: 100%;
  padding: 4px;
  margin: 0px;
}

h3 {
  text-align: center;
  padding: 20px;
}
.sign-up {

  display: flex;
  border: dotted black 1px;
}

.sign-up p {
  border: dotted black 1px;
  margin: 0, 5px, 0, 5px;
}